footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 43, 226, 0.333);
    width: 100%;
    height: 10vh;
}
p{
    color: #000;

}